body{background-color: aliceblue;}           
h1{color: brown; text-align: center;}
p{font-size: 1em; text-indent: 1em;font-family: "휴먼편지체";}
div{background-color: pink;font-family: "휴면편지체";margin: 20px;}
.career {color: blue;font-weight: 900; }
span{color:blue; font-weight: 900;}